* {
  box-sizing: border-box;
span.date-element {
  padding: 25px;
}

ul {
  list-style: none;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.container {
  width: 75%;
  padding: 70px 10px 0 10px;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.Today {
  margin-right: 2px;
}
span.date-element {
  padding: 25px;
}

ul {
  list-style: none;
}

span.date-element {
  padding: 25px;
}

#noTasks {
  text-align: center;
}

#currentDate {
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#inputValue {
  width: 100%;
  border: none;
}

ul li.checked {
  background: rgb(253, 252, 252);
  color: #fff;
  text-decoration: line-through;
}

.new-El.checked {
  color: rgb(2, 2, 2);
  text-decoration: line-through;
}

.new-El {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 16px;
  transition: 0.2s;
  margin: 0;
  background: rgb(226, 181, 114);
  color: #fff;
  text-decoration: line-through;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(255, 244, 246);
  font-size: 18px;
  transition: 0.2s;
}

.new-El.checked::before {
  content: '';
  position: absolute;
  border-color: greenyellow;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 40px;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  }

.delete {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: greenyellow;
}

.delete:hover {
  background-color: grey;
}



